<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ayuda || Vynil</title>
    <link rel="shortcut icon" href="v.png" type="image/x-icon">
    <link rel="stylesheet" href="Style.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <nav>
            <a href="INDEX.html">Inicio</a>
            <a href="hombre.html" target="_blank">Hombre</a>
            <a href="mujer.html" target="_blank">Mujer</a>
            <a href="acn">Acerca de</a>
            <a href="#">Contacto</a>
            <a href="ayuda.html">Ayuda</a>
        </nav>
        <section class="textos-header">
            <h1>VyniL</h1>
            <h2>Ayuda</h2>
        </section>
        <div class="wave" style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
                <path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                    style="stroke: none; fill: rgb(247, 247, 247);"></path>
            </svg></div>
    </header>

</body>

</html>