<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modificar Ropa</title>
    {% load static %}
</head>

<body>
    <div>
        <h1>modificar ropa</h1>
    </div>
    <div class="row">
        <form method="post" action="" id="formulario">
            {% csrf_token %}
            <div class="form-group">
                {{form.as_table}}
            </div>

            <input type="submit" class="btn btn-danger" id="enviar" value="enviar">
            <input type="reset " class="btn btn-primary" id="limpiar" value="limpiar">
            <br><br>
            <div id="error" class="alert alert-danger" role="alert"></div>

        </form>
        <div class="alert alert-successs" role="alert">
            {{mensaje}}
        </div>
    </div>
</body>

</html>